.btn {
  border: none;
  color: $white;
  background: $primary-blue;
  font-size: 18px;
  text-transform: uppercase;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  @include iconChange;

  &:focus {
    outline: none;
  }
}

.btn-transparent {
  background: transparent;
  border: 2px solid $primary-blue;
  color: $primary-blue;

  &:hover {
    background: $secondary-blue;
    color: $white;
  }

  &:disabled {
    opacity: 0.3;
    cursor: unset;
    pointer-events: none;

    &:hover {
      background: transparent;
    }
  }
}

.btn-form {
  display: inline-block;
  border: 2px solid $primary-orange;
  color: $primary-orange;

  &:hover {
    background: $secondary-orange;
  }
}
